@model List<TuristTravel.Model.Ponuda>

<table style="margin-top: 20px;" class="table table-condensed">
    <thead>
        <tr>
            <th>Destinacija</th>
            <th>Naziv</th>
            <th>Opis</th>
            <th>Cijena</th>
            <th>Hotel</th>
            <th>Pocetak</th>
            <th>Kraj</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    <a asp-action="Details" asp-route-id="@item.ID">@item.Naziv</a>
                </td>
                <td>@(item.Destinacija != null ? item.Destinacija.Naziv : "N/A")</td>
                <td>@item.Opis</td>
                <td>@item.Cijena</td>
                <td>@(item.Hotel != null ? item.Hotel.Naziv : "N/A")</td>
                <td>@item.pocetakPutovanja.ToString("yyyy-MM-dd")</td>
                <td>@item.krajPutovanja.ToString("yyyy-MM-dd")</td>
                <td>
                    <a asp-action="Edit" asp-route-id="@item.ID">[edit]</a>
                </td>
            </tr>
        }
    </tbody>
</table>
